<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transactions</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header class="header">
    <h1>Transactions</h1>
    <nav>
      <a href="/users/<%= user._id %>/dashboard" class="button">Back to Dashboard</a>
      <a href="/users/<%= user._id %>/transactions/new" class="button">Add New Transaction</a>
    </nav>
  </header>
  <main>
    <section class="list-section">
      <ul class="item-list">
        <% transactions.forEach(transaction => { %>
          <li class="item">
            <a href="/users/<%= user._id %>/transactions/<%= transaction._id %>">
              <%= transaction.amount %> - <%= transaction.category %>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>
  </main>
</body>
</html>
