<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transaction Details</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1>Transaction Details</h1>
  <p>Amount: <%= transaction.amount %></p>
  <p>Type: <%= transaction.type %></p>
  <p>Category: <%= transaction.category %></p>
  <p>Date: <%= transaction.date.toDateString() %></p>
  <p>Description: <%= transaction.description %></p>
  <a href="/users/<%= user._id %>/transactions/<%= transaction._id %>/edit">Edit</a>
  <form action="/users/<%= user._id %>/transactions/<%= transaction._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
  <a href="/users/<%= user._id %>/transactions">Back to Transactions</a>
</body>
</html>
